@use '~normalize.css' as *;
@use './shared/fonts.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Poppins', 'Montserrat';
}

h1,
h2,
h3,
h4,
h5,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', 'Montserrat';
  background: rgb(var(--base-color));
  background-image: url('../assets/images/background.svg');
  background-repeat: no-repeat;
  background-size: cover;

  overflow-x: hidden !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 10px 10px 10px 1000px rgb(var(--base-color)) inset;
  -webkit-text-fill-color: rgb(var(--primary-color)) !important;
  -webkit-background-clip: text;
  -webkit-font-feature-settings: off;
}
* {
  &:-webkit-autofill::first-line,
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    font-family: 'Poppins', 'Montserrat' !important;
  }
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 100%;
}

::-webkit-scrollbar-track {
  background: rgb(var(--ui-light));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--accent-color));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main {
  &_container {
    display: flex;
    align-items: flex-start;

    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden !important;

    & * {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.page_content {
  width: 100%;
  padding-left: 360px;
  margin-top: 30px;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 1450px) {
    padding-left: 330px;
  }

  @media screen and (max-width: 900px) {
    padding-left: 0;
    padding: 0 10px;
  }
}

.page_container {
  overflow-x: hidden;
  width: 100%;
  @media screen and (max-width: 900px) {
    padding: 50px 10px 20px;
  }
}

.remove-animation {
  z-index: -100 !important;
  opacity: 0 !important;
}

.logo {
  position: absolute;
  top: 50px;
  left: 50px;

  @media (max-width: 900px) {
    top: 20px;
    left: 20px;
  }
}

.language-select {
  position: absolute;
  top: 50px;
  right: 50px;
  @media (max-width: 900px) {
    display: none;
  }
}
